.pointer {
  cursor: pointer;
}
#nprogress .bar {
  height: 3px !important;
  background-color: rgb(10, 122, 187);
}
.nav a:hover {
  border-radius: 0px;
}
.link-loc {
  color: blueviolet;
  font-weight: 800;
}
.home-upper {
  background-color: #212b44;
}
